In [1]:
# Set up environment

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Read in datasets 
path = '/Users/priyankareddy/Desktop/Naloxone CSV/Cleaned Data/For Analyses/60% inclusion CCA - Baseline'
pre = pd.read_csv(path+'/pre-training.csv',na_values=[-999,'-999',-888,'-888'])
post = pd.read_csv(path+'/post-training.csv',na_values=[-999,'-999',-888,'-888'])
long = pd.read_csv(path+'/long-term.csv',na_values=[-999,'-999',-888,'-888'])

pre.shape
post.shape
long.shape

(758, 163)

(559, 82)

(439, 94)

In [3]:
def copy_values(item,dataset):
    merged = dataset
    inperson = dataset.loc[dataset['Session_Type']==0,:]
    virtual = dataset.loc[dataset['Session_Type']==1,:]
    merged_vc = merged[item].value_counts(normalize=True).sort_index()
    inperson_vc = inperson[item].value_counts(normalize=True).sort_index()
    virtual_vc = virtual[item].value_counts(normalize=True).sort_index()
    merged_vc = merged_vc.reindex([1,2,3,4,5],fill_value=0)
    inperson_vc = inperson_vc.reindex([1,2,3,4,5],fill_value=0)
    virtual_vc = virtual_vc.reindex([1,2,3,4,5],fill_value=0)
    s = pd.concat([virtual_vc,inperson_vc,merged_vc])
    num_virtual = virtual[item].value_counts().sum()
    num_inperson = inperson[item].value_counts().sum()
    num_merged = merged[item].value_counts().sum()
    num = [num_virtual,num_inperson,num_merged]
    # this is where the code will change for questions with a different range
    s1=s[1].to_list()
    s2=s[2].to_list()
    s3=s[3].to_list()
    s4=s[4].to_list()
    s5=s[5].to_list()
    null = [np.nan,np.nan,np.nan]
    data = {"Strongly disagree":s1,"Disagree":s2,"Neutral":s3,"Agree":s4,"Strongly Agree":s5}
    margin=['Virtual (n='+str(num_virtual)+')','In-person (n='+str(num_inperson)+')','Merged(n='+str(num_merged)+')']
    df = pd.DataFrame(data,index=margin)
    #row_value = [np.nan,np.nan,np.nan,np.nan,np.nan]
    #df = Insert_row(3, df, row_value)
    return df

In [4]:

number = [1,3,7]
for i in number:
    x1 = "Q33_" + str(i) 
    x2 = "Q14_" + str(i)
    x3 = "Q23_" + str(i)
    df1 = copy_values(x1,pre)
    df2 = copy_values(x2,post)
    df3 = copy_values(x3,long)
    df1
    df2
    df3
    df = pd.concat([df3,df2,df1])
    file = "availability_" + str(i) + ".csv"
    df.to_csv(file)

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=292),0.000000,0.003425,0.030822,0.260274,0.705479
In-person (n=460),0.004348,0.006522,0.065217,0.254348,0.669565
Merged(n=752),0.002660,0.005319,0.051862,0.256649,0.683511

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=195),0.000000,0.0,0.010256,0.169231,0.820513
In-person (n=333),0.009009,0.0,0.021021,0.198198,0.771772
Merged(n=528),0.005682,0.0,0.017045,0.187500,0.789773

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=145),0.013793,0.000000,0.027586,0.124138,0.834483
In-person (n=272),0.000000,0.003676,0.025735,0.253676,0.716912
Merged(n=417),0.004796,0.002398,0.026379,0.208633,0.757794

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=292),0.000000,0.003425,0.020548,0.250000,0.726027
In-person (n=459),0.002179,0.000000,0.061002,0.326797,0.610022
Merged(n=751),0.001332,0.001332,0.045273,0.296937,0.655126

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=195),0.000000,0.0,0.015385,0.169231,0.815385
In-person (n=333),0.009009,0.0,0.024024,0.204204,0.762763
Merged(n=528),0.005682,0.0,0.020833,0.191288,0.782197

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=145),0.013793,0.000000,0.020690,0.151724,0.813793
In-person (n=272),0.000000,0.003676,0.044118,0.235294,0.716912
Merged(n=417),0.004796,0.002398,0.035971,0.206235,0.750600

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=292),0.000000,0.003425,0.119863,0.339041,0.537671
In-person (n=460),0.004348,0.023913,0.245652,0.352174,0.373913
Merged(n=752),0.002660,0.015957,0.196809,0.347074,0.437500

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=195),0.005128,0.010256,0.082051,0.230769,0.671795
In-person (n=333),0.009009,0.054054,0.177177,0.306306,0.453453
Merged(n=528),0.007576,0.037879,0.142045,0.278409,0.534091

,Strongly disagree,Disagree,Neutral,Agree,Strongly Agree
Virtual (n=145),0.006897,0.013793,0.062069,0.255172,0.662069
In-person (n=272),0.000000,0.033088,0.191176,0.294118,0.481618
Merged(n=417),0.002398,0.026379,0.146283,0.280576,0.544365

In [5]:

number = [2,4,5,6,8]
for i in number:
    x1 = "Q33_" + str(i) 
    x2 = "Q14_" + str(i)
    df1 = copy_values(x1,pre)
    df2 = copy_values(x2,post)
    #df1
    #df2
    #df3
    df = pd.concat([df2,df1])
    file = "availability_" + str(i) + ".csv"
    df.to_csv(file)